[submodule "gameplay/common/pnotify"]
	path = gameplay/common/pnotify
	url = git@github.com:sciactive/pnotify.git
[submodule "gameplay/common/Namespaces/SSMQ"]
	path = gameplay/common/Namespaces/SSMQ
	url = git@github.com:DzikuVx/SSMQ.git
[submodule "gameplay/common/Namespaces/phpCache"]
	path = gameplay/common/Namespaces/phpCache
	url = git@github.com:DzikuVx/phpCache.git
