<h1>Player Data</h1>
<p>
{CLOSE_BUTTON}
{userPropertiesEditButton}
{C:operations}
{lockButton}
{activateButton}
{msgSendButton}
{rookieTurns}
{giveAm}
{giveTraxium}
{/C:operations}
</p>
<table class="table table-striped table-bordered table-condensed">
	<thead>
		<tr>
			<th>Key</th>
			<th>Value</th>
			<th>&nbsp;</th>
			<th>Key</th>
			<th>Value</th>
	</thead>
	<tbody>
		<tr>
			<th>ID</th>
			<td>{UserID}</td>
			<td>&nbsp;</td>
			<th>Login</th>
			<td>{Login}</td>
		</tr>
		<tr>
			<th>Name</th>
			<td>{Name}</td>
			<td>&nbsp;</td>
			<th>Email</th>
			<td>{Email}</td>
		</tr>
		<tr>
			<th>User Locked</th>
			<td>{UserLocked}</td>
			<td>&nbsp;</td>
			<th>User Activated</th>
			<td>{UserActivated}</td>
		</tr>
		<tr>
			<th>Allow Spam</th>
			<td>{AllowSpam}</td>
			<td>&nbsp;</td>
			<th>Country</th>
			<td>{Country}</td>
		</tr>
		<tr>
			<th>Language</th>
			<td>{Language}</td>
			<td>&nbsp;</td>
			<th>About</th>
			<td>{About}</td>
		</tr>
	</tbody>
</table>
<h2>Position</h2>
<p>{shipPositionEditButton}</p>
<table class="table table-striped table-bordered table-condensed">
	<tbody>
		<tr>
			<th>System</th>
			<th>X</th>
			<th>Y</th>
			<th>Docked</th>
		</tr>
		<tr>
			<td>{System}</td>
			<td>{X}</td>
			<td>{Y}</td>
			<td>{Docked}</td>
		</tr>
	</tbody>
</table>

<h2>Ship Summary</h2>
<p>{shipPropertiesEditButton}</p>
{PLAYER_SHIP_SUMMARY}

<h2>Player Stats</h2>
<p>{playerStatsEditButton}</p>
{PLAYER_STATS_SUMMARY}

<h2>NPC creation list</h2>
<table class="table table-striped table-bordered table-condensed">
	<tbody>
		<tr>
			<th>Weapons</th>
			<td>{WeaponsString}</td>
		</tr>
		<tr>
			<th>Equipment</th>
			<td>{EquipmentString}</td>
		</tr>
	</tbody>
</table>

<h2>Player Notices</h2>
{PLAYER_NOTICES_REGISTRY}

<h2>Player Weapons</h2>
{PLAYER_WEAPONS_REGISTRY}

<h2>Player Equipment</h2>
{PLAYER_EQUIPMENT_REGISTRY}

<p>{CLOSE_BUTTON}</p>