<h1>{T:setRightsTitle}: {Name}</h1>
<table style='width: 240px;'>
	<tr>
		<th>{T:allianceEdit}</th>
		<td><input type="checkbox" id="editValue" {editValue} /></td>
	</tr>
	<tr>
		<th>{T:allianceAccept}</th>
		<td><input type="checkbox" id="acceptValue" {acceptValue} /></td>
	</tr>
	<tr>
		<th>{T:alliancePost}</th>
		<td><input type="checkbox" id="postValue" {postValue} /></td>
	</tr>
	<tr>
		<th>{T:allianceKick}</th>
		<td><input type="checkbox" id="kickValue" {kickValue} /></td>
	</tr>
	<tr>
		<th>{T:allianceRank}</th>
		<td><input type="checkbox" id="rankValue" {rankValue} /></td>
	</tr>
	<tr>
		<th>{T:allianceCash}</th>
		<td><input type="checkbox" id="cashValue" {cashValue} /></td>
	</tr>
	<tr>
		<th>{T:allianceRelations}</th>
		<td><input type="checkbox" id="relationsValue" {relationsValue} /></td>
	</tr>
	</table>
	<center>
<div class="closeButton" onclick="{action}">{T:dialogSave}</div>
</center>