<h1>{T:equipment}</h1>
<table class="table table-striped table-condensed" style='width: 320px;'>
	<tr>
		<th>{T:name}</th>
		<td>{Name}</td>
	</tr>
	<tr>
		<th>{T:price}</th>
		<td>{Price}$</td>
	</tr>
	<tr>
		<th>{T:size}</th>
		<td>{Size}</td>
	</tr>
	<tr>
		<th>{T:type}</th>
		<td>{Type}</td>
	</tr>
	<tr>
		<th>{T:Speed Modification}</th>
		<td>{Speed}</td>
	</tr>
	<tr>
		<th>{T:Cargo Modification}</th>
		<td>{Cargo}</td>
	</tr>
	<tr>
		<th>{T:Maneuver Modification}</th>
		<td>{Maneuver}</td>
	</tr>
	<tr>
		<th>{T:Scanning}</th>
		<td>{Scan}</td>
	</tr>
	<tr>
		<th>{T:Cloak}</th>
		<td>{Cloak}</td>
	</tr>
	<tr>
		<th>{T:ArmorPiercing}</th>
		<td>{ArmorPiercing}</td>
	</tr>
	<tr>
		<th>{T:Targetting}</th>
		<td>{Targetting}</td>
	</tr>
</table>
<table class="table table-striped table-condensed" style='width: 320px;'>
	<tr>
		<th>#</th>
		<th>{T:Modification}</th>
		<th>{T:Regeneration}</th>
		<th>{T:Repair}</th>
	</tr>
	<tr>
		<th>{T:Shield}</th>
		<td>{Shield}</td>
		<td>{ShieldRegeneration}</td>
		<td>{ShieldRepair}</td>
	</tr>
	<tr>
		<th>{T:Armor}</th>
		<td>{Armor}</td>
		<td>{ArmorRegeneration}</td>
		<td>{ArmorRepair}</td>
	</tr>
	<tr>
		<th>{T:Power}</th>
		<td>{Power}</td>
		<td>{PowerRegeneration}</td>
		<td>{PowerRepair}</td>
	</tr>
</table>