<!DOCTYPE html>
<html lang="{languageVar}">
<head>
<title>{pageTitle}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="{cdnUrl}common/bootstrap_slate/css/bootstrap.min.css"
	rel="stylesheet" />
<link rel="stylesheet" type="text/css"
	href="{cdnUrl}common/css/vader/jquery-ui-1.8.21.custom.css" />
<link rel="stylesheet" type="text/css" href="{cdnUrl}css/gameplay.css" />
<link rel="shortcut icon" href="favicon.ico" />
</head>
<body>
	<div class="hiddenDiv" id="userID">{sessionUserID}</div>
	<div class="hiddenDiv" id="authCode">0</div>

	<div class="navbar navbar-fixed-top">

		<div class="navbar-inner">

			<div class="container">

				<div class="nav-collapse">
					<ul class="nav">
						<li id="iconPanel"></li>
					</ul>
				</div>

				<div class="nav-collapse pull-right">
					<ul class="nav">
						<li><a href="#"
							onclick="executeAction('examineMe',null,null,null,null)">{T:My
								profile}</a></li>
						<li class="dropdown"><a class="dropdown-toggle"
							data-toggle="dropdown" href="#">{T:Links}<b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="#"
									onclick="executeAction('showOnlinePlayers',null, null, null);">{T:onlinePlayers}</a></li>
								<li><a href="#"
									onclick="executeAction('showMessages',null, null, null);">{T:messages}</a></li>
								<li><a href="#"
									onclick="executeAction('topPlayersShow','Experience', null, null);">{T:topPlayers}</a></li>
								<li><a href="#"
									onclick="executeAction('myAllianceDetail');">{T:myAlliance}</a></li>
								<li><a href="#"
									onclick="executeAction('showAlliances',null, null, null);">{T:alliances}</a></li>
								<li><a href="#"
									onclick="executeAction('showBuddy',null, null, null);">{T:Buddy
										List}</a></li>
								<li class="divider"></li>
								<li><a href="{T:helpFiles}" target='_blank'>{T:Help}</a></li>
								<li><a href='http://board.playpulsar.com' target='_blank'>{T:Forum}</a></li>

							</ul></li>
						<li><a href="logout.php">{T:Logout}</a></li>
					</ul>
				</div>

				<!--/.nav-collapse -->

			</div>
		</div>
	</div>

	<div id="mainGameplay" class="container">
		<div class="row">
			<div class="span4">
				<div class="panel">
					<div id="shortShipStatsPanel">&nbsp;</div>
					<hr />
					<div id="shortUserStatsPanel" style="margin-top: 1em;">&nbsp;</div>
				</div>
			</div>
			<div class="span8">
				<div class="panel">
					<div class="row">
						<div class="column50">
							<div id="sectorPanel" style="padding: 0.5em;">&nbsp;</div>
						</div>
						<div class="column50">
							<div id="portInfoPanel" style="padding: 0.5em;">&nbsp;</div>
						</div>
					</div>
				</div>

				<div id="announcementPanel"></div>

				<div class="panel" style="margin-top: 1em;">
					<div class="row">
						<div class="column50">
							<div id="navigationPanel" style="padding: 1em;">&nbsp;</div>
						</div>
						<div class="column25">
							<div id="miniMap" style="padding: 1em; padding-left: 4px;">&nbsp;</div>
						</div>
						<div class="column25">
							<div id="movePanel" style="padding: 1em; padding-left: 0px;">&nbsp;</div>
						</div>
					</div>
				</div>
				<div class="panel" style="margin-top: 1em;" id="primaryPanel">
					<div class="row">
						<div style="padding-left: 1em; padding-right: 1em; display: none;"
							id="sectorShipsPanel"></div>
					</div>
					<div class="row">
						<div style="padding-left: 1em; padding-right: 1em; display: none;"
							id="sectorResourcePanel"></div>
					</div>
				</div>
				<div class="panel" style="margin-top: 1em;" id="mainPanel">
					<div class="row">
						<div id="actionPanel" style="padding: 1em; display: none;"></div>
					</div>
					<div class="row">
						<div id="portPanel" style="padding: 1em; display: none;"></div>
					</div>
				</div>
			</div>
		</div>
		{C:debugPanel}
		<hr />
		<div class="row">
			<div class="span12">
				<div id="debugPanel">&nbsp;</div>
			</div>
		</div>
		{/C:debugPanel}
	</div>

	<div id="activeScanner" class="container hiddenDiv">
		<div class="row">
			<div class="span12 panel">
				<button class="close" style="margin: 1em;" title="{T:close}"
					onclick="activeScanner.hide();">
					<i class="icon-white icon-remove" /></i>
				</button>
				<div id="activeScannerContent"></div>
			</div>
		</div>
	</div>

	<div id="systemMap" class="container hiddenDiv">
		<div class="row">
			<div class="span12 panel">
				<button class="close" style="margin: 1em;" title="{T:close}"
					onclick="systemMap.hide();">
					<i class="icon-white icon-remove" /></i>
				</button>
				<div id="systemMapContent"></div>
			</div>
		</div>
	</div>
	<div id="remoteSectorInfo" class="well hiddenDiv">&nbsp;</div>
	
	<div id="univPanel" class="well hiddenDiv">&nbsp;</div>
	
	<div id="wait-window" title="{T:pleaseWait}" style="display: none;">
		<p></p>
	</div>

	<div style="display: none;">
		<iframe src="dummy.php" width="1" height="1"
			style="border: none; padding: 0px;"></iframe>
	</div>

	<script type="text/javascript" src="{cdnUrl}js/chatClass.js"></script>
	<script type="text/javascript" src="{cdnUrl}js/panelClasses.js"></script>
	<script type="text/javascript" src="{cdnUrl}js/gameplay.js"></script>
	<script type="text/javascript" src="{cdnUrl}js/systemMap.js"></script>
	<script type="text/javascript" src="{cdnUrl}common/js/mask.js"></script>
	<script type="text/javascript"
		src="{cdnUrl}common/js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript"
		src="{cdnUrl}common/js/jquery.knob-1.1.2.js"></script>
	<script type="text/javascript"
		src="{cdnUrl}common/js/jquery-ui-1.8.21.custom.min.js"></script>
	<script type="text/javascript" src="{cdnUrl}common/js/progress-wait.js"></script>
	<script src="common/bootstrap_slate/js/bootstrap.min.js"></script>

	<script type="text/javascript">
		jQuery(document).ready(function() {
			$(document).mousemove(function(e) {
				mouseX = e.pageX;
				mouseY = e.pageY;
			});
			executeAction('pageReload');
			globalChat.get();
		})
	</script>

</body>
</html>