<table class="transactionList" cellspacing="2" cellpadding="0">
<tbody>
<tr>
<td>&nbsp;</td>
<th>{T:Current}</th>
<th>{T:Max}</th>
<th>{T:Regeneration}</th>
<th>&nbsp;</th>
</tr>
<tr>
<th>{T:shield}</th>
<td>{Shield}</td>
<td>{ShieldMax}</td>
<td>{ShieldRegeneration}</td>
<td>{ShieldRepairButton}</td>
</tr>
<tr>
<th>{T:armor}</th>
<td>{Armor}</td>
<td>{ArmorMax}</td>
<td>{ArmorRegeneration}</td>
<td>{ArmorRepairButton}</td>
</tr>
<tr>
<th>{T:power}</th>
<td>{Power}</td>
<td>{PowerMax}</td>
<td>{PowerRegeneration}</td>
<td>{PowerRepairButton}</td>
</tr>
<tr>
<th>{T:emp}</th>
<td>{Emp}</td>
<td>{EmpMax}</td>
<td>{EmpRegeneration}</td>
<td>{EmpRepairButton}</td>
</tr>
</tbody>
</table>