<h1>{T:ship}</h1>
<table style='width: 240px;'>
	<tr>
		<th>{T:name}</th>
		<td>{Name}</td>
	</tr>
	<tr>
		<th>{T:price}</th>
		<td>{Price}$</td>
	</tr>
	<tr>
		<th>{T:size}</th>
		<td>{Size}</td>
	</tr>
	<tr>
		<th>{T:UpgradeSpace}</th>
		<td>{Space}</td>
	</tr>
	<tr>
		<th>{T:WeaponSize}</th>
		<td>{WeaponSize}</td>
	</tr>
	<tr>
		<th>{T:WeaponsNumber}</th>
		<td>{Weapons}</td>
	</tr>
	<tr>
		<th>{T:Targetting}</th>
		<td>{Targetting}</td>
	</tr>
	<tr>
		<th>{T:Speed}</th>
		<td>{Speed}</td>
	</tr>
	<tr>
		<th>{T:Cargo}</th>
		<td>{Cargo}</td>
	</tr>
	<tr>
		<th>{T:Gather}</th>
		<td>{Gather}</td>
	</tr>
	<tr>
		<th>{T:Maneuver}</th>
		<td>{Maneuver}</td>
	</tr>
	<tr>
		<th>{T:Scanning}</th>
		<td>{Scan}</td>
	</tr>
	<tr>
		<th>{T:Cloak}</th>
		<td>{Cloak}</td>
	</tr>
	<tr>
		<th>{T:ArmorStrength}</th>
		<td>{ArmorStrength}</td>
	</tr>
</table>
<table style='width: 240px;'>
	<tr>
		<th>#</th>
		<th>{T:Modification}</th>
		<th>{T:Regeneration}</th>
		<th>{T:Repair}</th>
	</tr>
	<tr>
		<th>{T:Shield}</th>
		<td>{Shield}</td>
		<td>{ShieldRegeneration}</td>
		<td>{ShieldRepair}</td>
	</tr>
	<tr>
		<th>{T:Armor}</th>
		<td>{Armor}</td>
		<td>{ArmorRegeneration}</td>
		<td>{ArmorRepair}</td>
	</tr>
	<tr>
		<th>{T:Power}</th>
		<td>{Power}</td>
		<td>{PowerRegeneration}</td>
		<td>{PowerRepair}</td>
	</tr>
</table>