<h1>{T:shipSummary}</h1>
{REPAIR_TABLE}
<table class="transactionList" cellspacing="2" cellpadding="0">
<tbody>
<tr>
<th>{T:offRating}</th><td>{OffRating}</td>
<th>{T:defRating}</th><td>{DefRating}</td>
</tr>
<tr>
<th>{T:speed}</th><td>{Speed}</td>
<th>{T:Maneuver}</th><td>{Maneuver}</td>
</tr>
<tr>
<th>{T:Targetting}</th><td>{Targetting}</td>
<th>{T:ArmorStrength}</th><td>{ArmorStrength}</td>
</tr>
<tr>
<th>{T:ArmorPiercing}</th><td>{ArmorPiercing}</td>
<th>{T:Gather}</th><td>{Gather}</td>
</tr>
<tr>
<th>{T:cargoholdspace}</th><td>{CargoMax}</td>
<th>{T:Scanning}</th><td>{Scan}</td>
</tr>
<tr>
<th>{T:Cloak}</th><td>{Cloak}</td>
<th>{T:ship}</th><td>{ShipTypeName}</td>
</tr>
<tr>
<th>{T:FTL Drive}</th><td>{CanWarpJump}</td>
<th>{T:Active Scan}</th><td>{CanActiveScan}</td>
</tr>
</tbody>
</table>