<div class="infoPanel ui-corner-all ui-shadow-dark">
<h1>{T:Edit user data}</h1>
<form method="post" id="registerForm">

<table class="form" border="0">
<tr>
<th style="width: 40%">{T:Login}</th>
<td>{loginInput}</td>
</tr>

<tr>
<th>{T:name}</th>
<td>{nameInput}</td>
</tr>

<tr>
<th>{T:email}</th>
<td>{emailInput}</td>
</tr>

<tr>
<th>{T:country}</th>
<td>{countryInput}</td>
</tr>

<tr>
<th>{T:language}</th>
<td>{languageInput}</td>
</tr>

<tr>
<th>{T:spamAllow}</th>
<td>{spamInput}</td>
</tr>

<tr>
<td colspan="2" style="font-size: 0.8em; color: gray;">{T:toChangePassword}</td>
</tr>
<tr>
<th>{T:password}</th>
<td>{passwordAInput}</td>
</tr>
<tr>
<th>{T:passwordRepeat}</th>
<td>{passwordBInput}</td>
</tr>

</table>
<div style="text-align: center;">{saveButton}</div>
</form>
</div>