<h1>{T:weapon}</h1>
<table style='width: 320px;'>
	<tr>
		<th>{T:name}</th>
		<td>{Name}</td>
	</tr>
	<tr>
		<th>{T:price}</th>
		<td>{Price}$</td>
	</tr>
	<tr>
		<th>{T:size}</th>
		<td>{Size}</td>
	</tr>
	<tr>
		<th>{T:class}</th>
		<td>{ClassName}</td>
	</tr>
	<tr>
		<th>{T:Accuracy}</th>
		<td>{Accuracy}%</td>
	</tr>
	<tr>
		<th>{T:Ammo}</th>
		<td>{Ammo}</td>
	</tr>
	<tr>
		<th>{T:PowerUsage}</th>
		<td>{PowerUsage}</td>
	</tr>
	<tr>
		<th>{T:CriticalProbability}</th>
		<td>{CriticalProbability}%</td>
	</tr>
	<tr>
		<th>{T:CriticalMultiplier}</th>
		<td>x{CriticalMultiplier}</td>
	</tr>
</table>
<table style='width: 320px;'>
	<tr>
		<th>#</th>
		<th>{T:Min}</th>
		<th>{T:Max}</th>
	</tr>
	<tr>
		<th>{T:Shield}</th>
		<td>{ShieldMin}</td>
		<td>{ShieldMax}</td>
	</tr>
	<tr>
		<th>{T:Armor}</th>
		<td>{ArmorMin}</td>
		<td>{ArmorMax}</td>
	</tr>
	<tr>
		<th>{T:Power}</th>
		<td>{PowerMin}</td>
		<td>{PowerMax}</td>
	</tr>
	<tr>
		<th>{T:EMP}</th>
		<td>{EmpMin}</td>
		<td>{EmpMax}</td>
	</tr>
</table>